/* Wrapper */

.wrapper {
    padding: 1rem 5%;
}

/* Menu */

.menu {
    background: #f2f2f2;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

/* Menu buttons */

.menu-buttons {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menu-buttons__item {
    font-size: 1.5rem;
    padding: 1rem;
    box-sizing: border-box;
    background: #e6e6e6;
    border-radius: 1rem;
    height: fit-content;
}

.menu-buttons__item:hover {
    background: #d9d9d9;
}

.menu-buttons__item--active {
    background: #9999ff;
}

.menu-buttons__item--active:hover {
    background: #bfbfff;
}

/* Menu content */

.menu-content {
    flex: 4;
    padding: 1rem;
    height: fit-content;
}

.menu-content__item {
    background: #ededed;
    border-radius: 1rem;
    padding: 1rem;
}

.content-item__header {
    font-size: 2.5rem;
    padding: 1rem;
}

.content-item__subheader {
    font-size: 1.8rem;
    padding: 0.7rem;
    text-align: center;
}

/* Form */

.content-item__content {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.form-header {
    flex: 1;
    font-size: 2rem;
    padding: 1rem;
    display: block;
    align-self: center;
    text-align: center;
}

.form {
    flex: 4;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.form-item {
    display: grid;
    grid-template-columns: 40% 60%;
    font-size: 1.2rem;
    padding: 0.5rem;
    height: 4rem;
}

.form__label {
    align-self: center;
    padding-right: 1rem;
    flex: 1;
}

.form__input {
    height: fit-content;
    align-self: center;
    border-radius: 2rem;
    border: 1px solid black;
    padding: 0.5rem;
    flex: 1;
}

.form__number-input {
    width: 5rem;
    text-align: end;
}

.form__response-text {
    border-radius: 2rem;
    flex: 2;
    padding: 0.5rem;
    box-sizing: border-box;
    align-items: center;
    display: flex;
}

.form__response-text--error {
    background-color: #8b0000;
    color: white;
}

.form__response-text--success {
    background-color: #468c00;
}

.form__response-text--warning {
    background-color: #ffa500;
}

.form__button {
    padding: 0.75rem;
    border-radius: 2rem;
    background: #80eaff;
    height: fit-content;
    width: fit-content;
    align-self: center;
}

.form__button:hover {
    background: #80caff;
}

.form__input-button {
    padding: 0.75rem;
    border-radius: 2rem;
    background: #ff8080;
    height: fit-content;
    width: fit-content;
    align-self: center;
}

.form__input-button:hover {
    background: #ff6666;
}

.form__input-button--success {
    background: #468c00;
}

.form__input-button--success:hover {
    background: #397300;
}

/* Response log */

.response-log__header {
    padding: 1rem;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    height: fit-content;
}

.response-log__content {
    background: white;
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 1rem;
    overflow-y: scroll;
    height: 16vw;
}

/* Loader */

.loader {
    display: inline-block;
    border: 0.5rem solid #cccccc; /* Light grey */
    border-top: 0.5rem solid #3498db; /* Blue */
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: spin 2s linear infinite;
}

.loader--hidden {
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Student's file form */

.student-form {
    display: grid;
    grid-template-columns: 70% 30%;
}

.student-form__items {
}

.student-form__response-log {
    padding: 1rem;
    box-sizing: border-box;
}

/* Teacher's file form */

.teacher-form {
    display: grid;
    grid-template-columns: 70% 30%;
}

.teacher-form__items {
}

.teacher-form__response-log {
    padding: 1rem;
    box-sizing: border-box;
}

/* User's response log */

.users-response-log {
    flex: 3;
}

/* User's form */

.users-form {
    flex: 15;
    overflow-y: scroll;
    height: 30vw;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.users-form__user-list {
    box-sizing: content-box;
    height: fit-content;
}

:root {
    --user-form-grid-template: 12% 14% 15% 26% 15% 10% 8%;
}

.users-form__add-button {
    position: sticky;
    top: 0;
    font-size: 2rem;
    padding: 0.5rem;
    height: fit-content;
    cursor: pointer;
    background-color: #ededed;
}

.users-form__add-button:hover {
    background-color: #d4d4d4;
}

.users-form__add-icon {
    background-color: #32cd32;
    border-radius: 50%;
}

.users-form__add-button:hover {
    background-color: #32cd32;
}

.users-form__header {
    position: sticky;
    top: 0;
    height: fit-content;
}

.users-form__headers-list {
    display: grid;
    grid-template-columns: var(--user-form-grid-template);
    height: fit-content;
    background: #cccccc;
    box-sizing: border-box;
}

.users-form__header-item {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    height: fit-content;
    align-self: center;
    padding: 0.7rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}

.users-form__sort-button {
    align-self: center;
    cursor: pointer;
}

/* User item */

.user-item {
    padding: 0.5rem 0;
    font-size: 1.2rem;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: var(--user-form-grid-template);
}

.user-item--not-added {
    background-color: rgba(122, 204, 41, 0.2);
}

.user-item__component {
    padding: 0.25rem;
    align-self: center;
    height: fit-content;
    word-break: break-all;
}

.user-item__id {
    display: none;
}

.user-item__role, .user-item__group {
    text-align: center;
}

.user-item__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user-item__button {
    cursor: pointer;
}

.user-item__button-add {
    color: #008000;
}

.user-item__button-add:hover {
    color: #004d00;
}

.user-item__button-update {
    cursor: not-allowed;
}

.user-item__button-update--allowed {
    cursor: pointer;
    color: #ffb833;
}

.user-item__button-update--allowed:hover {
    color: #cc9329;
}

.user-item__button-delete {
    color: #ff0000;
}

.user-item__button-delete:hover {
    color: #990000;
}

/* Work distribution */

.work-distribution-form {
    display: grid;
    grid-template-columns: 70% 30%;
}

.work-distribution-form__items {
}

.work-distribution-form__response-log {
    padding: 1rem;
    box-sizing: border-box;
}