* {
    font-family: 'Arial', serif;
}

.link {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.hidden {
    display: none;
}

.undecorated-list {
    list-style-type: none;
    padding: 1rem;
    margin: 0;
}