/* Wrapper */

.wrapper {
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: space-around;
}

/* News block */

.news {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.news-item {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    height: auto;
}

.news-item-link {
    display: flex;
    flex-direction: row;
}

.news-item__image-block {
    width: 10vw;
    height: 10vw;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-items: center;
}

.news-item__image {
    width: 100%;
}

.news-item__content {
    padding: 0 1rem;
    flex: 2;
}

.news-item__header {
    font-size: 2rem;
}

.news-item__publishing-date {
    border-radius: 1rem;
    padding: 0.3rem;
    width: fit-content;
    border: 1px solid black;

}

.news-item__keywords {
    padding: 0.5rem 0;
    font-style: italic;
    color: #4d4d4d;
}

.news-item__text {
    font-size: 1.2rem;
}

/* News filter block */

.news-filter {
    position: sticky;
    top: 5vw;
    border: 1px solid black;
    z-index: -1;
}