.news-item {
    padding: 0 10%;
}

.news-item__image-block {
    border: 2px solid black;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    justify-items: center;
}

.news-item__image {
    width: 100%;
}

.news-item__header {
    padding: 2rem 0 1rem;
    font-size: 4rem;
    text-align: center;
}

.news-item__text {
    line-height: 1.5em;
    font-size: 1.5em;
}

.news-item__date {
    font-size: 1.5rem;
    padding: 0.5rem 0;
    text-align: center;
}