.wrapper {
    display: flex;
    padding: 0 10%;
    gap: 1rem;
}

/* News-item */

.news-item {
    flex: 2;
}

.news-item__image-block {
    border: 2px solid black;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    justify-items: center;
}

.news-item__image {
    width: 100%;
}

.news-item__header {
    padding: 2rem 0 1rem;
    font-size: 4rem;
    text-align: center;
}

.news-item__text {
    line-height: 1.5em;
    font-size: 1.5em;
}

.news-item__date {
    font-size: 1.5rem;
    padding: 0.5rem 0;
    text-align: center;
}

.news-item__keywords {
    padding: 0.5rem 0;

    text-align: center;

    font-size: 1.1rem;
    font-style: italic;
    color: #4d4d4d;
}

/* Comments */

.comment-section {
    z-index: 0;
    flex: 1;
    border-radius: 1rem;
    padding: 1rem;
    background: #e6e6e6;
    position: sticky;
    top: 10rem;
    max-height: 70vh;
    overflow-y: scroll;
}

.comment-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comment-item {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
}

.comment-form-block {
    padding: 2rem 0;
}

.comment-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comment-form-text {
    resize: none;
    width: 100%;
}

.comment-form-button {
    padding: 0.5rem;
    border: 1px solid gray;
    border-radius: 1rem;
}