/* Wrapper */

.wrapper {
    padding: 1rem 10%;
}

/* Menu */

.menu {
    background: #f2f2f2;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    height: fit-content;
}

/* Menu buttons */

.menu-buttons {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menu-buttons__item {
    font-size: 1.5rem;
    padding: 1rem;
    box-sizing: border-box;
    background: #e6e6e6;
    border-radius: 1rem;
    height: fit-content;
}

.menu-buttons__item:hover {
    background: #d9d9d9;
}

.menu-buttons__item--active {
    background: #9999ff;
}

.menu-buttons__item--active:hover {
    background: #bfbfff;
}

/* Menu content */

.menu-content {
    flex: 4;
    padding: 1rem;
    height: fit-content;
}

.menu-content__item {
    background: #ededed;
    border-radius: 1rem;
    padding: 1rem;
}

.menu-content__header {
    font-size: 2.5rem;
    padding: 1rem;
}

.content-item__header {
    font-size: 2.5rem;
    padding: 1rem;
}

.content-item__content {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

/* Call schedule */

.call-schedule {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.call-schedule-table {
    font-size: 2rem;
    border-radius: 1rem;
    background: white;
    padding: 1rem;
}

.call-schedule-table__item {
    padding: 0 0.5rem;
    text-align: center;
}

/* Lesson schedule */

.lesson-schedule {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.lesson-schedule-group {
    font-size: 1.75rem;
    padding: 1rem;
}

.lesson-schedule-table {
    padding: 1rem;
    border-radius: 1rem;
    background: white;
}

.lesson-schedule-table-header__item {
    font-size: 1.4rem;
}

.lesson-schedule-table__item {
    padding: 0.25rem;
    font-size: 1.2rem;
}