/* Header styles */

.header {
    width: 100%;
    height: 5vw;
    background: #b3b3ff;
}

.header__menu {
    height: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: space-evenly;
}

.header__element {
    padding: 0 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__element-hoverable:hover {
    background: rgba(219, 219, 255, 0.8);
}

.header__image {
    height: 80%;
}

.header__text {
    font-size: 2em;
}

/* Profile styles */

.profile {
    height: 100%;
    display: flex;
}

.profile__element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__avatar {
    border-radius: 50%;
    height: 80%;
}

.profile__text {
    padding-left: 5%;
    font-size: 2rem;
}

.profile__dropdown {
    position: absolute;
    height: auto;
    top: 5vw;
    background: black;
    color: white;
    border-radius: 10px;
}

/* Login menu styles */

.login-menu-cover {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-menu-main {
    width: 30%;
    height: 60%;
    background: white;
    border-radius: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-menu-header {
    display: block;
    font-size: 3rem;
}

.login-menu-auth-message {
    padding-top: 0.5rem;
    color: darkred;
    font-size: 1.5rem;
    font-weight: bold;
}

.login-form {
    display: block;
}

.login-form__label {
    display: flex;
    justify-content: center;
    padding: 5%;
}

.login-form__input {
    font-size: 2rem;
    border-radius: 25px;
    padding: 0.5rem;
}

.login-form__button {
    font-size: 2rem;
    border-radius: 25px;
    padding: 0.5rem;
}