html,
body {
    height: 100%;
    width: 100%;
}

.body {
    max-width: 1200px;

    margin: 0 auto;
    padding: 0 20px;
}

.link {
    text-decoration: none;

    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: 0.3s;
}

.link:hover {
    background-size: 100% 2px;
    color: #2c6dbf;

    transition: all 0.3s ease;
}

ul, ol {
    list-style: inside;
}

ol {
    list-style-type: decimal;
}

.ul-ol-none {
    list-style: none;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.83rem;
}

h6 {
    font-size: 0.67rem;
}
