.lessons-list-block, .grades-list-block, .homework-list-block {
    width: 100%;
    height: fit-content;
    min-height: 30rem;
}

.lessons-list-block__header, .grades-list-block__header, .homework-list-block__header {
    background-color: rgba(0, 0, 0, 0.1);
}

.lessons-list-block__header, .homework-list-block__header {
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

.grades-list-block__header {
    display: flex;
    justify-content: space-between;
}

.lessons-list__header-element, .grades-list__header-element, .homework-list__header-element {
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 1px solid black;
    width: 100%;
}

.lesson, .homework {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    font-size: 1.2rem;
}

.grade {
    width: 100%;
    display: flex;
    font-size: 1.2rem;
}

.lesson__component, .homework__component {
    padding: 0.5rem 0;
}

.grade__component {
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
}

.lesson__id, .homework__id {
    display: none;
}

.lesson__type, .lesson__date, .homework__date {
    text-align: center;
}