html,
body {
	height: 100%;
	width: 100%;
}
.body {
	max-width: 1200px;

	margin: 0 auto;
	padding: 0 20px;
}

/** === HEADER === */
.header {
	width: 100%;
	height: 110px;

	position: sticky;
	top: 0;
	z-index: 2;

	background-color: #fff;
	color: #000;
	-webkit-box-shadow: 0px 0px 10px 5px rgba(54, 54, 54, 0.2);
	-moz-box-shadow: 0px 0px 10px 5px rgba(54, 54, 54, 0.2);
	box-shadow: 0px 0px 10px 5px rgba(54, 54, 54, 0.2);
}
.header-wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;

	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: 0.3s;
}

a:hover {
	background-size: 100% 2px;
	color: #2c6dbf;

	transition: all 0.3s ease;
}

.header-body {
	height: 110px;

	display: flex;
	justify-content: space-between;
}
.logo-part {
	position: relative;
	left: 0;

	display: flex;
	align-items: center;
}
.logo-placeholder {
	height: 80px;
	width: 80px;
}

.logo-part img {
	width: 100%;
	height: 100%;

	object-fit: contain;
}

.logo-text {
	margin-left: 15px;

	display: inline-block;

	font-family: "Museo Cyrl";
	font-size: 30px;
}

.aside-part {
	position: relative;
	right: 0;
}

.actions-navigation {
	margin: 30px 0px 15px 0px;

	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.action-link {
	margin: 0px 0px 0px 30px;

	color: #2c6dbf;
	font-family: "Museo Cyrl";
	font-size: 17px;
}

.actions-navigation :first-child {
	margin: 0px 0px 0px 0px;
}

.authorization-link {
	font-family: "GothamPro-Bold";
	font-size: 14px;
	text-transform: uppercase;
	color: #000;
}

.pages-navigation {
	display: flex;
	align-items: center;
}

.page-link {
	margin-left: 30px;

	font-family: "GothamPro-Bold";
	font-size: 18px;
	text-transform: uppercase;
}
.pages-navigation :first-child {
	margin-left: 0px;
}
.search-button {
	height: 30px;
	width: 30px;

	border-radius: 50%;
}
