/* Call schedule */

.call-schedule {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.call-schedule-table {
    font-size: 2rem;
    border-radius: 1rem;
    background: white;
    padding: 1rem;
}

.call-schedule-table__item {
    padding: 0 0.5rem;
    text-align: center;
}

.call-schedule-item__save-button {
    cursor: not-allowed;
}

.call-schedule-item__save-button--allowed {
    cursor: pointer;
    color: #009900;
}

.call-schedule-item__save-button--allowed:hover {
    color: #006600;
}

/* Lesson schedule */

.lesson-schedule {
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
}

.lesson-schedule__loader {

}

.lesson-schedule__list {
    max-height: 40vw;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.lesson-schedule__item {
    text-align: center;
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    height: fit-content;
    border-radius: 1rem;
    border: 1px solid black;
}

.lesson-schedule-item__title {
    font-size: 1.8rem;
    font-weight: bolder;
    width: 100%;
    height: fit-content;
    padding: 0.5em 0 1em;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.lesson-schedule-item__edit-button {
    cursor: pointer;
    color: #ffa500;
}

.lesson-schedule-item__edit-button:hover {
    color: #cc8500;
}

.lesson-schedule-item__lessons {
    height: fit-content;
    border-radius: 1rem;
    background: white;
    width: 100%;
    box-sizing: border-box;
}

.lesson-schedule-item__header {
    font-size: 1.4rem;
    display: grid;
    padding: 1rem 0.5rem;
    height: fit-content;
    grid-template-columns: 12% 6% 62% 20%;
}

.lesson-item {
    display: flex;
    padding: 0.4rem 0;
}

.lesson-item__number {
    flex: 6;
    align-self: center;
}

.lesson-item__discipline {
    flex: 82;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
}

.day-item {
    padding: 0.5rem;
    display: flex;
}

.day-item__day {
    flex: 12;
    align-self: center;
}

.day-item__schedule {
    flex: 88;
}

.discipline {
    display: flex;
}

.discipline__dropdown, .discipline__variant {
    border: 1px solid lightgrey;
    padding: 0.2rem;
    background-color: white;
}

.discipline__dropdowns {
    flex: 62;
    display: flex;
    flex-direction: column;
}

.discipline__variant {
    flex: 20;
}